<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>New Dojo</h1>
    <form action="/add_dojo" method = "post">
        <label for="name">Name:</label>
        <input type="text" name = "name">
        <br>
        <input type="submit" value= "Add Dojo">
    </form>
    <!-- <h1>All Dojos</h1>
    <table>
        <thead>
            <tr>
                <th>Dojo:</th>
            </tr>
            <tbody>
                {% for one_dojo in all_dojos %}
                    <tr>
                        <td>{{ one_dojo.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </thead>
    </table> -->
    <h1>All Dojos</h1>
    {% for one_dojo in all_dojos %}
    <ul>
        <a href="/dojos/{{one_dojo.id}} ">
            <li>{{ one_dojo.name }}</li>
            <!-- <li><a href="/show">{{ one_dojo.name }}</a></li> -->
            
        </a>
    </ul>
    {% endfor %}
    <a href="/ninjas">Add Ninja</a>
    <a href="/show">SHOW</a>
</body>
</html>